header {
    position: relative;
    width: 100%;
    height: 608px;
    background-image: var(--headerIllustration);
    background-size: cover;
    background-position-y: center;
    box-shadow: inset 0px 0px 200px rgb(0, 0, 0);

    .overlay {
        position: absolute;
        mix-blend-mode: darken;
        width: 100%;
        Height: 608px;
        background-color: var(--footerColor);
        opacity: .5;
    }

    .nav-container {
        position: inherit;
        top: 26px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 90%;
        max-width: 1400px;
        margin: auto;

        img.logo {
            height: 175px;
        }

        nav ul {
            display: flex;
            align-items: center;

            li {
                list-style-type: none;
                margin: 0 15px;
            }

            a.nav-link {
                position: relative;
                text-shadow: 0px 2px 4px rgba(0, 0, 0);

                &::after {
                    content: '';
                    position: absolute;
                    display: block;
                    width: 100%;
                    height: 2px;
                    margin-top:2px;
                    background: var(--secondaryColor);
                    transform: scale(0);
                    transition: transform .2s ease-in-out;
                }
        
                &:hover::after {
                    transform: scale(1);
                }
            }

            a.btn {
                box-shadow: 0px 0px 5px rgba(0, 0, 0, 1);
            }
        }
    }

    .title-container {
        position: absolute;
        top: 47%;
        width: 75%;
        text-align: center;

        h1 {
            font-family: var(--primaryFont);
            font-size: 66px;
            letter-spacing: 5px;
            color: var(--accentColor);
    
            &::before {
                content: '( ';
            }
    
            &::after {
                content: ' )';
            }
        }
    
        h2 {
            font-size: 24px;
            font-weight: 400;
            color: var(--secondaryColor);
        }
    }
}

@media (max-width: 1250px) { 
    header {
        .nav-container {
            top: 0;
            width: 100%;
            padding: 36px 50px 0 50px;

            img.logo {
                height: 135px;
            }
        }

        .title-container {
            width: 100%;
            
            h1 {
                font-size: 56px;
            }

            h2 {
                font-size: 18px;
            }
        }
    }
}

@media (max-width: 1180px) { 
    header {
        .title-container {
            width: 100%;
        }
    }
}

@media (max-width: 760px) {
    header {
        .nav-container nav ul {
            width: 100%;
        }

        .title-container {
            width: 365px;
            left: 50%;
            translate: -50%;
            h1 {
    
                &::before {
                    content: none;
                }
        
                &::after {
                    content: none;
                }
            }
        }
    }
}

@media (max-width: 400px) {
    header {
        .nav-container {
            padding: 20px;
        }
    }
}