@media (max-width: 1180px) { 
    header {
        .toggle-burger {
            z-index: 999;
            cursor: pointer;
            position: absolute;
            top: 50px;
            right: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 47px;
            padding: 0 20px;
            background-color: var(--secondaryColor);
            border-radius: 6px;
            color: var(--textColor);
    
            span {
                font-size: 41px;
            }
        }
    
        .nav-container nav ul {
            z-index: 99;
            position: absolute;
            top: 0;
            right: 0;
            flex-direction: column;
            align-items: flex-end;
            width: 400px;
            height: 100vh;
            padding-top: 130px;
            background: var(--secondaryColor);
            transition: transform 0.3s ease;
    
            a.nav-link, a.btn {
                display: grid;
                height: 50px;
                text-align: center;
                align-items: center;
                border-bottom: 1px solid darkgrey;
                border-radius: 0;
                background-color: transparent;
                font-size: 20px;
                text-shadow: none !important;
                box-shadow: none !important;
                color: var(--primaryColor);

                &::after {
                    display: none !important;
                }

                &:hover {
                    background-color: var(--primaryColor);
                    color: var(--secondaryColor);
                }
            }
        }
        
        .menu {
            display: none;
        
            &.is-open {
                display: block;
            }
    
            li {
                width: 100%;
            }
        }
    }
}
