<app-header></app-header>
<div class="container-contact">
    <section>
        <h3>Vous souhaitez d'avantage d'informations sur notre Club ?</h3>
        <h4>Contactez nous par téléphone ou par mail, et nous vous répondrons dans les meilleurs délais !</h4>
    </section>

    <article>
        <div class="contact">
            <p>
                <strong>Martine Cazals</strong><br />
                <a href="tel:+33622034355">06.22.03.43.55</a> 
            </p>
            <p>
                <strong>Louis Chevilley</strong><br />
                <a href="tel:+33680051347">06.80.05.13.47</a> 
            </p>
            <p>
                <strong>Adresse mail</strong><br />
                <a href="mailto:country.saloon.82.fr@gmail.com">country.saloon.82.fr@gmail.com</a>
            </p>
            <p>
                <strong>Page facebook</strong><br />
                <a target="_blank" href="https://www.facebook.com/countrysaloon82">https://www.facebook.com/countrysaloon82</a>
            </p>
        </div>
    </article>
</div>
