.nav-container {
    z-index: 999;
    position: sticky;
    top: 0;
    width: 100%;
    padding: 8px 50px;
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
        height: 100px;

        &.noir {
            display: block;
        }

        &.beige {
            display: none;
        }
    }

    nav ul {
        display: flex;
        align-items: center;

        li {
            list-style-type: none;
            margin: 0 15px;
        }

        a.nav-link {
            position: relative;
            color: var(--primaryColor);

            &::after {
                content: '';
                position: absolute;
                display: block;
                width: 100%;
                height: 2px;
                margin-top:2px;
                background: var(--primaryColor);
                transform: scale(0);
                transition: transform .2s ease-in-out;
            }
    
            &:hover::after {
                transform: scale(1);
            }
        }
    }
}



@media (max-width: 1180px) {
    .nav-container {
        padding: 20px;
    }
}