.b-a-ba-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: auto;
    padding-top: 20px;

    section {
        width: 100%;
        max-width: 1280px;
        margin-top: 30px;
        background: url('/assets/img/hat-and-boots-illustration.png') no-repeat top left;
        background-position-y: -58px;
        background-position-x: -50px;;

        h3 {
            padding: 15px 0 56px 245px;
            font-size: 20px;
            color: var(--primaryColor);
        }

        .content {
            width: 80%;
            margin:auto;
            padding: 15px;
            background-color: var(--backgroundColor);
            border-radius: 10px;
        }
    }

    .btn {
        width: 278px;
        margin: 25px 0;
    }

    h2 {
        font-family: var(--primaryFont);
        font-size: 64px;
        text-align: center;
        color: var(--primaryColor);

        &::before {
            content: '( '
        }

        &::after {
            content: ') ';
        }
    }
}