<app-nav></app-nav>
<section class="container-agenda">
    <div class="head">
        <h2>Agenda</h2>
        <a target="_blank" href="/assets/docs/agenda.pdf" class="btn secondary">Télécharger l'agenda</a>
        <img src="/assets/img/illu-agenda.jpg" alt="illustration agenda" />
    </div>
    <mat-accordion [multi]="true">
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                Janvier 2024
            </mat-expansion-panel-header>
            <div class="agenda-content">
                <strong>Samedi 06</strong>
                <p>
                    Soirée country à <strong>MOISSAC</strong> salle confluences<br />
                    21h bal CD
                </p>

                <strong>Samedi 13</strong>
                <p>
                    Soirée CD à <strong>LASSERRE-PRADÈRE-31</strong><br />
                    14h – prébal : 13h30<br />
                    entrée : 5€ - eau et pâtisseries maison offertes – playlist à venir –
                </p>

                <strong>Vendredi 19</strong>
                <p>
                    Bal CD Country et Modern Line à 21h à la salle des fêtes Boris Vian à <strong>SALVETAT ST GILLES</strong><br />
                    Prébal à 19h45 animé par Nadine<br />
                    Entrée 5 euros avec une boisson offerte<br />
                    Renseignements Nadine <a href="tel:+33610018588">06.10.01.85.88</a> <a href="mailto:dinette.peyrot@gmail.com">dinette.peyrot@gmail.com</a>
                </p>

                <strong>Samedi 20</strong>
                <p>
                    Diner concert avec LOUP MALVILLE organisé par Country Evasion <strong>MONTAUBAN</strong><br />
                    A 18 h 15, apéritif offert par l'Association, de 18 h 45 à 20 h 10 dîner concert sous la forme<br />
                    d'une auberge espagnole,<br />
                    A 21 h bal CD (ouverture des portes à 20 h 45)<br />
                    Prix entrée : concert + soirée CD : 9 € ; soirée CD seule : 6 €<br />
                    Renseignements et réservations : <a href="tel:+33685147662">06.85.14.76.62</a> - <a href="tel:+33667420360">06.67.42.03.60</a><br />
                    Mail : <a href="mailto:helene.turco@orange.fr">helene.turco@orange.fr</a>
                </p>

                <strong>Dimanche 21</strong>
                <p>
                    Bal CD salle des fêtes du <strong>MONTAT (46)</strong><br />
                    14h. Entrée 5 euros. Pâtisseries offertes. Buvette. Tombola<br />
                    Renseignement : Sylvia au <a href="tel:+33771120531">07.71.12.05.31</a> / <a href="mailto:country-46@orange.fr">country-46@orange.fr</a>
                </p>

                <strong>Dimanche 28</strong>
                <p>
                    Bal CD Country <strong>MONTECH</strong> 82700 Salle Laurier (derrière Caserne des Pompiers )<br />
                    à partir de 14h30<br />
                    Entrée 5 € - Pâtisseries offertes<br />
                    Renseignements : Mariane <a href="tel:+33620914271">06.20.91.42.71</a>
                </p>

                <strong>Dimanche 28</strong>
                <p>
                    Stage de danses en couple de 14h à 17h30 18h<br />
                    Attention les places sont limitées à 22 donc il faut impérativement vous inscrire et avec un ou une partenaire!<br />
                    Le stage aura lieu dans la salle de danse de la MJC d'<strong>ESCALQUENS</strong> place de l'enclos en face la salle des fêtes<br />
                    Nous apprendrons 3 danses: deux faciles et une plus complexe.<br />
                    La danse "Marie" pourra s'adapter sur d'autres musiques.<br />
                    La danse "Texas Time" se retrouve très souvent dans les playlists.<br />
                    Nous finirons l'après midi s'il nous reste du temps en dansant d'autres danses que vous connaissez déjà !<br />
                    J'offrirai comme d'habitude Gâteaux café boissons bonbons<br />
                    Le prix de l'entrée sera de 10 euros par personne ou de 15 euros pour un couple.<br />
                    Nadine <a href="tel:+33610018588">06.10.01.85.88</a>
                </p>
            </div>
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                Février 2024
            </mat-expansion-panel-header>
            <div class="agenda-content">
                <strong>Dimanche 04</strong>
                <p>
                    Bal CD de la chandeleur à la salle des fêtes de <strong>MIREPOIX SUR TARN</strong> a partir de 14h avec couverture des portes a 13h30 pour la danse des premiers !!!<br />
                    Et bien sur nous vous accueillerons avec nos succulentes crêpes offertes comme d'habitude tout au long de l'après-midi 
                </p>

                <strong>Samedi 24</strong>
                <p>
                    Bal country à <strong>CASTELNAU D'ESTRETEFONDS</strong> (31620)<br />
                    <a href="www.castelcountrydance31.fr">www.castelcountrydance31.fr</a> ; <a href="www.facebook.com/Club-de-castel-country-dance">www.facebook.com/Club-de-castel-country-dance</a>
                </p>
            </div>
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                Mars 2024
            </mat-expansion-panel-header>
            <div class="agenda-content">
                <strong>Samedi 02</strong>
                <p>
                    Soirée CD country à la salle des fêtes de <strong>MONTEILS</strong> (82)<br />
                    1 Place du Pigeonnier 82300 Monteils (GPS : 44°10'23.6"N 1°33'52.6"E)
                </p>

                <strong>Samedi 02</strong>
                <p>
                    Soirée country à la salle des fêtes de <strong>GRAMAT</strong> (46)<br />
                    Bal CD "déguisé"<br />
                    Organisé par les CANYON'S DANCER. <a href="https://www.canyons-dancer-gramat.fr/">https://www.canyons-dancer-gramat.fr/</a><br />
                    Renseignements : <a href="mailto:stephaniegendrau46@gmail.com">stephaniegendrau46@gmail.com</a> ou <a href="tel:+33622275937">06.22.27.59.37</a>
                </p>

                <strong>Samedi 09</strong>
                <p>
                    Bal Cd à <strong>LAUZERTE</strong> (82110)
                </p>

                <strong>Samedi 16</strong>
                <p>
                    Soirée concert à la salle des Fêtes de <strong>St ETIENNE DE TULMONT</strong> (82)<br />
                    Organisé par Country saloon 82
                </p>

                <strong>Samedi 16</strong>
                <p>
                    Bal CD country qui se tiendra à La salle CSL du lycée Simone de Beauvoir <strong>GRAGNAGUE</strong> 31380 à partir de 21H .                    
                </p>

                <strong>Dimanche 17</strong>
                <p>
                    Bal CD à 14 h 30 (salle du Fau, espace G. Bouton à <strong>MONTAUBAN)</strong>
                </p>

                <strong>Dimanche 17</strong>
                <p>
                    Bal CD à la salle des fêtes de <strong>PUY L’ÉVEQUE</strong> (46700)<br />
                    10h-12h bal spécial débutants 12h apéro offert par le club<br />
                    13h30 pré bal celtique et vintage 14h bal cd<br />
                    entrée 5 euros
                </p>

                <strong>Samedi 23</strong>
                <p>
                    <strong style="color:red">WEEK END CATALAN organisé par les BLUE WEST DANCERS
                    249 Rue du Riou, (31700) BEAUZELLE, France</strong><br />
                    Bal & Workshops
                </p>

                <strong>Dimanche 24</strong>
                <p>
                    <strong style="color:red">WEEK END CATALAN organisé par les BLUE WEST DANCERS
                    249 Rue du Riou, (31700) BEAUZELLE, France</strong><br />
                    Bal<br />
                    Informations à venir…                    
                </p>

                <strong>Samedi 23</strong>
                <p>
                    Bal CD country à <strong>MOISSAC</strong> salle confluences à 21h
                </p>

                <strong>Dimanche 24</strong>
                <p>
                    Bal annuel 100% country animé par Nadine à la salle des fêtes d'<strong>ESCALQUENS</strong>. Place de l'enclos<br />
                    Danses à la demande de midi à 13h (vous pouvez apporter votre repas)<br />
                    Prébal de 13h à 14h<br />
                    Bal de 14h à 18h 18h30<br />
                    Entrée 5 euros<br />
                    Boissons et pâtisseries à volonté<br />
                    Pour tous renseignements Nadine <a href="tel:+33610018588">06.10.01.85.88</a>
                </p>
            </div>
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                Avril 2024
            </mat-expansion-panel-header>
            <div class="agenda-content">
                <strong>Dimanche 21</strong>
                <p>
                    Bal C.D. à 14h00 à <strong>MONTESTRUC-SUR-GERS</strong>
                </p>

                <strong>Vendredi 26</strong>
                <p>
                    Bal CD Country et Modern Line à 21h à la salle des fêtes Boris Vian à <strong>LA SALVETAT ST GILLES</strong><br />
                    Prébal à 19h45 animé par Nadine<br />
                    Entrée 5 euros avec une boisson offerte<br />
                    Renseignements Nadine <a href="tel:+33610018588">06.10.01.85.88</a> <a href="mailto:dinette.peyrot@gmail.com">dinette.peyrot@gmail.com</a>
                </p>

                <strong>Samedi 27</strong>
                <p>
                    Bal CD salle des fêtes du <strong>MONTAT</strong> (46)<br />
                    21h. Entrée 5 euros. Pâtisseries offertes. Buvette. Tombola<br />
                    Renseignement : Sylvia au <a href="tel:+33771120531">07.71.12.05.31</a> / <a href="mailto:country-46@orange.fr">country-46@orange.fr</a>
                </p>
            </div>
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                Mai 2024
            </mat-expansion-panel-header>
            <div class="agenda-content">
                <strong>Samedi 04</strong>
                <p>
                    Soirée CD country à la salle des fêtes de <strong>MONTEILS</strong> (82)<br />
                    1 Place du Pigeonnier 82300 Monteils (GPS : 44°10'23.6"N 1°33'52.6"E)
                </p>

                <strong>Samedi 04 & Dimanche 05</strong>
                <p>
                    <strong style="color: red;">FESTIVAL COUNTRY à COLOMIERS</strong>
                </p>

                <strong>Dimanche 05</strong>
                <p>
                    Bal CD à la salle des fêtes de Saint Martial, <strong>MONTAUBAN</strong> à 14h30
                </p>

                <strong>Vendredi 11</strong>
                <p>
                    Bal CD 100% country animé par Nadine au Moulin Tropical 35 Rue Dinetard à <strong>TOULOUSE</strong><br />
                    Prébal vers 19h45 Bal 21h<br />
                    Entrée 7 euros avec une boisson offerte.<br />
                    Renseignements au <a href="tel:+33610018588">06.10.01.85.88</a> ou <a href="mailto:dinette.peyrot@gmail.com">dinette.peyrot@gmail.com</a>
                </p>

                <strong>Vendredi 24, Samedi 25 & Dimanche 26</strong>
                <p>
                    <strong style="color:red;">FESTIVAL COUNTRY à CASTELNAU D'ESTRETEFONDS (31620)</strong><br />
                    <a href="www.castelcountrydance31.fr">www.castelcountrydance31.fr</a> ; <a href="www.facebook.com/Club-de-castel-country-dance">www.facebook.com/Club-de-castel-country-dance</a>
                </p>
            </div>
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                Juin 2024
            </mat-expansion-panel-header>
            <div class="agenda-content">
                <strong>Samedi 29</strong>
                <p>
                    Bal country à <strong>CASTELNAU D'ESTRETEFONDS</strong> (31620)<br />
                    <a href="www.castelcountrydance31.fr">www.castelcountrydance31.fr</a> ; <a href="www.facebook.com/Club-de-castel-country-dance">www.facebook.com/Club-de-castel-country-dance</a>
                </p>
            </div>
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                Juillet 2024
            </mat-expansion-panel-header>
            <div class="agenda-content">
                <strong>Vendredi 05</strong>
                <p>
                    <strong style="color:red;">FESTIVAL COUNTRY à St Amans Soult</strong><br />
                    Concert avec les Back west
                </p>

                <strong>Samedi 06 & Dimanche 07</strong>
                <p>
                    <strong style="color:red;">FESTIVAL COUNTRY à St Amans Soult</strong>
                </p>

                <strong>Vendredi 05, Samedi 06 & Dimanche 07</strong>
                <p>
                    <strong style="color:red;">FESTIVAL COUNTRY à VIC-FEZENSAC (32)</strong>
                </p>

                <strong>Samedi 13 & Dimanche 14</strong>
                <p>
                    <strong style="color:red;">FESTIVAL COUNTRY à PUY L'EVEQUE</strong><br />
                    Les clubs Rebel Hearts de Lafox, Country Evasion Montauban et Country Road 811 de Puy l'Evèque organisent leur premier Festival Country Interclubs qui se tiendra à PUY L'EVEQUE (46700) sous le parrainage du chorégraphe David Lecaillon. Plus d'information à venir. 
                </p>
            </div>
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                Août 2024
            </mat-expansion-panel-header>
            <div class="agenda-content">
                <strong>Samedi 17 & Dimanche 18</strong>
                <p>
                    <strong style="color:red;">FESTIVAL 100% COUNTRY à MONTESTRUC-SUR-GERS</strong>
                </p>
            </div>
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                Septembre 2024
            </mat-expansion-panel-header>
            <div class="agenda-content">
                <strong>Vendredi 20</strong>
                <p>
                    Bal CD Country et Modern Line à 21h à la salle des fêtes Boris Vian à <strong>LA SALVETAT ST GILLES</strong><br />
                    Prébal à 19h45 animé par Nadine<br />
                    Entrée 5 euros avec une boisson offerte<br />
                    Renseignements Nadine <a href="tel:+33610018588">06.10.01.85.88</a> <a href="mailto:dinette.peyrot@gmail.com">dinette.peyrot@gmail.com</a>
                </p>

                <strong>Samedi 28</strong>
                <p>
                    Bal CD country à <strong>MOISSAC</strong> salle confluences à 21h
                </p>
            </div>
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                Octobre 2024
            </mat-expansion-panel-header>
            <div class="agenda-content">
                <strong>Samedi 05</strong>
                <p>
                    Bal CD à la salle des fêtes de Fonneuve à <strong>MONTAUBAN</strong> 21h
                </p>

                <strong>Samedi 12</strong>
                <p>
                    Bal country à la salle Bonnaïs de <strong>CAUSSADE</strong>
                </p>

                <strong>Samedi 19</strong>
                <p>
                    Bal country à <strong>CASTELNAU D'ESTRETEFONDS</strong> (31620)<br />
                    <a href="www.castelcountrydance31.fr">www.castelcountrydance31.fr</a> ; <a href="www.facebook.com/Club-de-castel-country-dance">www.facebook.com/Club-de-castel-country-dance</a>
                </p>

                <strong>Samedi 26 & Dimanche 27</strong>
                <p>
                    <strong style="color:red;">WEEK END COUNTRY à la salle des Fêtes de St ETIENNE DE TULMONT (82)<br />
                    Organisé par Country saloon 82</strong>
                </p>
            </div>
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                Novembre 2024
            </mat-expansion-panel-header>
            <div class="agenda-content">
                <strong>Samedi 16</strong>
                <p>
                    Soirée CD à 21 h (salle des fêtes du Fau, Espace G.Bouton, à <strong>MONTAUBAN</strong>) organisé par Country Evasion Montauban
                </p>

                <strong>Samedi 16</strong>
                <p>
                    Bal country à <strong>CASTELNAU D'ESTRETEFONDS</strong> (31620)<br />
                    <a href="www.castelcountrydance31.fr">www.castelcountrydance31.fr</a> ; <a href="www.facebook.com/Club-de-castel-country-dance">www.facebook.com/Club-de-castel-country-dance</a>
                </p>

                <strong>Samedi 30</strong>
                <p>
                Bal CD salle des fêtes du <strong>MONTAT</strong> (46)<br />
                21h. Entrée 5 euros. Pâtisseries offertes. Buvette. Tombola<br />
                Renseignement : Sylvia au <a href="tel:+33771120531">07.71.12.05.31</a>" / <a href="mailto:country-46@orange.fr">country-46@orange.fr</a>
                </p>
            </div>
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                Décembre 2024
            </mat-expansion-panel-header>
            <div class="agenda-content">
                <strong>Samedi 14</strong>
                <p>
                    Bal country à <strong>CASTELNAU D'ESTRETEFONDS</strong> (31620)<br />
                    <a href="www.castelcountrydance31.fr">www.castelcountrydance31.fr</a> ; <a href="www.facebook.com/Club-de-castel-country-dance">www.facebook.com/Club-de-castel-country-dance</a>
                </p>
            </div>
        </mat-expansion-panel>
    </mat-accordion>
</section>