<app-nav></app-nav>
<section class="container-agenda">
    <div class="head">
        <h2>Agenda</h2>
        <a target="_blank" href="/assets/docs/agenda.pdf" class="btn secondary">Télécharger l'agenda</a>
        <img src="/assets/img/illu-agenda.jpg" alt="illustration agenda" />
    </div>
    <mat-accordion [multi]="true">
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                Mars 2025
            </mat-expansion-panel-header>
            <div class="agenda-content">
                <strong>Vendredi 07</strong>
                <p>
                    Bal country au moulin tropical de <strong>TOULOUSE</strong>
                </p>

                <strong>Samedi 08</strong>
                <p>
                    Bal country annuel du club de <strong>LAUZERTE</strong>
                </p>

                <strong>Samedi 15</strong>
                <p>
                    Soirée CD country à la salle des fêtes de <strong>MONTEILS</strong> (82)<br />
                    1 Place du Pigeonnier 82300 Monteils (GPS : 44°10'23.6"N 1°33'52.6"E)
                </p>

                <strong>Samedi 15</strong>
                <p>
                    Soirée country à la salle des fêtes de <strong>GRAMAT</strong> (46)<br />
                    Bal CD "déguisé" Organisé par les CANYON'S DANCER.<br />
                    <a href="http://www.canyons-dancer-gramat.fr">http://www.canyons-dancer-gramat.fr</a><br />
                    Renseignements : <a href="mailto:stephaniegendrau46@gmail.com">stephaniegendrau46@gmail.com</a> ou <a href="tel:+33622275937">06 22 27 59 37</a>
                </p>

                <strong>Dimanche 16</strong>
                <p>
                    Bal CD à la Salle des fêtes de <strong>MONTDRAGON</strong> (81) organisé par Western Dance
                </p>

                <strong>Dimanche 16</strong>
                <p>
                    Après-midi Country, bal CD ( débutants + St Patrick etc) organisé par Country Road 811<br />
                    46 700 <strong>PUY L'ÉVÊQUE</strong>
                </p>

                <strong>Dimanche 16</strong>
                <p>
                    Journée country au samy's diner à <strong>ALBI</strong><br />
                    A partir de 11h, initiation avec Chrys<br />
                    A midi, restauration sur place, pensez à réserver votre table en m'envoyant un mail<br />
                    A partir de 14h, Début de la playlist.<br />
                    Entrée 5€ pour les danseurs qui viennent juste pour l'après midi ( gratuit pour ceux qui viennent manger)
                </p>

                <strong>Vendredi 21</strong>
                <p>
                    Bal cd 100 % country à <strong>LA SALVETAT</strong>
                </p>

                <strong>Samedi 22</strong>
                <p>
                    Bal CD country à <strong>MOISSAC</strong> salle confluences à 20h30
                </p>

                <strong>Dimanche 23</strong>
                <p>
                    Bal CD à 14h à <strong>LAMASQUÈRE</strong> 31, salle des fêtes<br />
                    Entrée 5€ avec 1 boisson et pâtisseries "maison" !! vous pourrez arborer vos jolies tenues irlandaises ou simplement une petite touche de vert ou orange,! mais sans obligation
                </p>

                <strong>Vendredi 28</strong>
                <p>
                    Bal cd country thème St Patrick à 21h, Salle des fêtes de <strong>LAMASQUÈRE</strong> organisé par Funny Country 31.<br />
                    Entrée : 5 € avec 1 boisson et pâtisseries offertes.<br />
                    Dress code : touche irlandaise ou vert ou orange sans obligation
                </p>

                <strong>Samedi 29</strong>
                <p>
                    Les Tumbleweeds fêteront leur 20 ans, à la salle du Phare de <strong>TOURNEFEUILLE</strong> (31).<br />
                    Au programme, workshops samedi et dimanche matin avec trois chorégraphes, Kate SALA,<br />
                    Syndie BERGER , Daniel TREPAT en journée et concert country samedi soir avec, pour la première fois dans la région toulousaine, les Rockin' Chairs.
                </p>
            </div>
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                Avril 2025
            </mat-expansion-panel-header>
            <div class="agenda-content">
                <strong>Samedi 05</strong>
                <p>
                    Workshop organisé par Country 46 avec le chorégraphe Sébastien Bonnier à la salle des fêtes du <strong>MONTAT</strong> (46).<br />
                    Accueil 10h : café et chouquettes offertes work shop 10h30 / 12h30 (novices et intermédiaires), 14h30/17h30 (Débutants, novices et intermédiaires).<br />
                    Formule workshop + bal : 13 euros ; work shop (matin, ou après midi) : 5 euros<br />
                    Bal seul : 5 euros<br />
                    Buvette et restauration sur place avec un foodtruck, Pâtisseries offertes, Tombola<br />
                    Bal CD à 20h30.
                </p>

                <strong>Dimanche 06</strong>
                <p>
                    Journée Workshop et concert Avec Lily West à la grande salle des fêtes de <strong>SEYSSES</strong><br />
                    Playlist CD 100% country pendant les pauses concoctées par Nadine
                </p>

                <strong>Samedi 12</strong>
                <p>
                    Bal CD à 21 h organisée par Country Évasion <strong>MONTAUBAN</strong>.
                </p>

                <strong>Samedi 12</strong>
                <p>
                    Bal CD à <strong>SAINT JUERY</strong><br />
                    Des surprises vous y attendent et notamment un cadeau de bienvenue pour les plus  ponctuels d'entre vous.... Il a été réservé quelques créneaux pour y ajouter vos danses. 😉<br />
                    N'hésitez pas à vous présenter auprès de DJ CLAUDE pour lui donner vos clés USB.
                </p>

                <strong>Samedi 19</strong>
                <p>
                    20h30 Concert country avec les BACKWEST Salle Gascogne à <strong>COLOMIERS</strong><br />
                    Playliste de Nadine Peyrot avant concert à 20h , pendant la pause et après le concert ,organisé par Colomiers Danse Country<br />
                    Entrée Adhérents 8€ . Extérieurs 12€ avec 1 boisson et pâtisseries.
                </p>

                <strong>Dimanche 27</strong>
                <p>
                    Journée country au samy's diner à <strong>ALBI</strong><br />
                    A partir de 11h, initiation avec Chrys<br />
                    A midi, restauration sur place, pensez à réserver votre table en m'envoyant un mail<br />
                    A partir de 14h, Début de la playlist.<br />
                    Entrée 5€ pour les danseurs qui viennent juste pour l'après midi ( gratuit pour ceux qui  viennent manger)
                </p>
            </div>
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                Mai 2025
            </mat-expansion-panel-header>
            <div class="agenda-content">
                <strong>Dimanche 04</strong>
                <p>
                    Bal à VIC <strong>FEZENSAC </strong>32<br />
                    Dès 8 heures initiations et révisions puis repas tiré du sac et bal à 14 heures<br />
                    Toute la matinée sera consacrée à récolter des fonds pour notre patrimoine culturel.<br />
                    La restauration de notre petite église de Lagraulas.<br />
                    L'entrée le matin est gratuite mais les personnes donneront leur obole .
                </p>

                <strong>Dimanche 11</strong>
                <p>
                    Bal Annuel d'Escalquens 100% Country à la salle des fêtes d'<strong>ESCALQUENS</strong> Place de l'Enclos<br />
                    Danses à la demande de midi à 14h (Vous pouvez apporter votre Pique Nique)<br />
                    Bal de 14h à 19h Playlist à venir<br />
                    Entrée 5 euros Café boissons patisseries offertes<br />
                    Pour tous renseignements Nadine <a href="tel:+33610018588">06 10 01 85 88</a> ou <a href="mailto:dinette.peyrot@gmail.com">dinette.peyrot@gmail.com</a>
                </p>

                <strong>Dimanche 11</strong>
                <p>
                    Journée country au samy's diner à <strong>ALBI</strong><br />
                    A partir de 11h, initiation avec Chrys<br />
                    A midi, restauration sur place, pensez à réserver votre table en m'envoyant un mail<br />
                    A partir de 14h, Début de la playlist.<br />
                    Entrée 5€ pour les danseurs qui viennent juste pour l'après midi ( gratuit pour ceux qui viennent manger)
                </p>

                <strong>Samedi 17</strong>
                <p>
                    Soirée CD country à la salle des fêtes de <strong>MONTEILS</strong> (82)
                    1 Place du Pigeonnier 82300 Monteils (GPS : 44°10'23.6"N 1°33'52.6"E)
                </p>

                <strong>Dimanche 18</strong>
                <p>
                    Foire à <strong>MONTDRAGON</strong> (81) plancher dansant toute la journée organisé par Western Dance 
                </p>

                <strong>Dimanche 18</strong>
                <p>
                    Bal country à 14h à <strong>LAMASQUÈRE 31</strong>, salle des fêtes entrée 5€ avec 1 boisson et des pâtisseries" maison"
                </p>

                <strong>Jeudi 29</strong>
                <p>
                    Journée Country : ouverture porte 10h , fermeture porte 19 h<br />
                    Workshops & Concert Lilly WEST et Playlist Nadine PEYROT organisé par Colomiers Danse<br />
                    Country Salle Polyvalente de Léguevin rte <strong>AUCH</strong>,31490<br />
                    Entrée Extérieur : Pass journée 15€ ,Workshops 7€ et Concert & playlist 12€ .<br />
                    Entrée Adhérents :Pass journée 10€ ,Workshops 5€ et Concert & playlist 10€<br />
                    1 boisson et pâtisseries offertes
                </p>

                <strong>30 et 31 mai, 1er juin</strong>
                <p>
                    <strong style="color:red">FESTIVAL COUNTRY CASTELNAU D'ESTRETEFONDS.</strong>
                </p>
            </div>
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                Juin 2025
            </mat-expansion-panel-header>
            <div class="agenda-content">
                <strong>Samedi 14</strong>
                <p>
                    Bal CD country chez les Sun West country de <strong>MIREPOIX SUR TARN</strong> 31
                </p>

                <strong>13, 14 et 15 juin</strong>
                <p>
                    <strong style="color: red;">FESTIVAL COUNTRY ROCK’&’CARS à Lavaur (81)</strong>
                </p>

                <strong>Dimanche 16</strong>
                <p>
                    Journée country au samy's diner à <strong>ALBI</strong> avec la présence de David Lecaillon<br />
                    A partir de 11h, initiation avec Chrys<br />
                    A midi, restauration sur place, pensez à réserver votre table en m'envoyant un mail<br />
                    A partir de 14h, Début de la playlist.<br />
                    Entrée 5€ pour les danseurs qui viennent juste pour l'après midi ( gratuit pour ceux qui viennent manger)
                </p>
            </div>
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                Juillet 2025
            </mat-expansion-panel-header>
            <div class="agenda-content">
                <strong>Vendredi 04</strong>
                <p>
                    <strong style="color:red;">FESTIVAL COUNTRY VIC-FEZENSAC 32.</strong><br />
                    Les backwest
                </p>

                <strong>Samedi 05</strong>
                <p>
                    <strong style="color:red;">FESTIVAL COUNTRY VIC-FEZENSAC 32.</strong><br />
                    Les backwest
                </p>

                <strong>Dimanche 06</strong>
                <p>
                    <strong style="color:red;">FESTIVAL COUNTRY VIC-FEZENSAC 32.</strong><br />
                    Didier beaumont - Lilly west - les crazy pug<br />
                    Agnes Gauthier pour les workshops avec Lilly west
                </p>

                <strong>04, 05 et 06 juillet</strong>
                <p>
                    <strong style="color:red;">FESTIVAL COUNTRY St AMANS SOULT (81240).</strong>
                </p>
            </div>
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                Août 2025
            </mat-expansion-panel-header>
            <div class="agenda-content">
                <strong>Samedi 02</strong>
                <p>
                    Journée country de 16h à 1h sur le parc du village de LABRIHE 32120<br />
                    Playlist, initiations et concert des Crazy pug à 21h<br />
                    Buvette et petite restauration<br />
                    Affiche ci jointe programme à venir<br />
                    Renseignement <a href="mailto:a.labrihe.de.la.country@gmail.com">a.labrihe.de.la.country@gmail.com</a><br />
                    Tel <a href="tel:+33620404357">06.20.40.43.57</a>
                </p>
            </div>
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                Septembre 2025
            </mat-expansion-panel-header>
            <div class="agenda-content">
                <strong>Vendredi 19</strong>
                <p>
                    Bal 100% country à <strong>LA SALVETAT</strong>
                </p>

                <strong>Samedi 20</strong>
                <p>
                    Bal CD country à <strong>MOISSAC</strong> salle confluences à 20h30
                </p>

                <strong>Samedi 20</strong>
                <p>
                    Soirée country avec les YANKEY WEST à <strong>MONTDRAGON</strong> (81440)<br />
                    Organisée par le club Western Dance Montdragon
                </p>

                <strong>26, 27 et 28 septembre</strong>
                <p>
                    <strong style="color:red;">FESTIVAL AMERICAIN à ST ETIENNE DE TULMONT (82410).</strong>
                </p>
            </div>
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                Octobre 2025
            </mat-expansion-panel-header>
            <div class="agenda-content">
                <strong>Samedi 04</strong>
                <p>
                    Soirée country à <strong>FONNEUVE</strong> pour les 20 ans du club
                </p>

                <strong>Samedi 18</strong>
                <p>
                    Bal country organisé par Castel'country dance, 31620 <strong>CASTELNAU D'ESTRETEFONDS</strong><br />
                    <a href="www.castelcountrydance31.fr">www.castelcountrydance31.fr</a> - <a href="www.facebook.com/Club-de-castel-country-dance">www.facebook.com/Club-de-castel-country-dance</a>
                </p>
            </div>
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                Novembre 2025
            </mat-expansion-panel-header>
            <div class="agenda-content">
                <strong>Samedi 08</strong>
                <p>
                    Bal CD country chez les Sun West country de <strong>MIREPOIX SUR TARN</strong> 31
                </p>

                <strong>Samedi 08</strong>
                <p>
                    Bal CD organisé par Country Road 811, 46 700 <strong>PUY L'ÉVÊQUE</strong>
                </p>

                <strong>Vendredi 09 & Samedi 10</strong>
                <p>
                    <strong style="color: red;">RENCONTRE INTER-CLUB Salle des fêtes Rue du Bourdalat Eslourenties -Daban (64420).</strong>
                </p>

                <strong>Samedi 15</strong>
                <p>
                    Bal country à la salle Bonnaïs de <strong>CAUSSADE</strong>.<br />
                    Avec workshop et concert de Lily West
                </p>

                <strong>Samedi 22</strong>
                <p>
                    Bal CD à 21 h organisée par Country Évasion <strong>MONTAUBAN</strong>.
                </p>

                <strong>Samedi 29</strong>
                <p>
                    Bal CD organisé par Country 46 à la salle des fêtes du <strong>MONTAT</strong> (46).<br />
                    Entrée 6 euros.<br />
                    Buvette ; Tombola ; Pâtisseries offertes<br />
                    Renseignements : <a href="mailto:country-46@orange.fr">country-46@orange.fr</a> ; Sylvia au <a href="tel:+33771120531">07 71 12 05 31</a>
                </p>

                <strong>Samedi 29</strong>
                <p>
                    Stages et soirée CD à la salle des fêtes de <strong>GRAMAT</strong> (46)<br />
                    Stages de danse country animés par le chorégraphe David LECAILLON à partir de 14h30.<br />
                    Cet après-midi sera suivi d'un repas (sur réservation) et d'une soirée CD avec le traditionnel<br />
                    “Troc Cadeaux”. Organisés par les CANYON'S DANCER.<br />
                    <a href="http://www.canyons-dancer-gramat.fr/">www.canyons-dancer-gramat.fr</a><br />
                    Renseignements et réservations <a href="mailto:stephaniegendrau46@gmail.com">stephaniegendrau46@gmail.com</a> ou <a href="tel:+33622275937">06 22 27 59 37</a>
                </p>
            </div>
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                Décembre 2025
            </mat-expansion-panel-header>
            <div class="agenda-content">
                <strong>Samedi 06</strong>
                <p>
                    Bal country organisé par Castel'country dance, 31620 <strong>CASTELNAU D'ESTRETEFONDS</strong><br />
                    <a href="www.castelcountrydance31.fr">www.castelcountrydance31.fr</a> -  <a href="www.facebook.com/Club-de-castel-country-dance">www.facebook.com/Club-de-castel-country-dance</a>
                </p>
            </div>
        </mat-expansion-panel>
    </mat-accordion>
</section>