<app-nav></app-nav>
<section class="container-agenda">
    <div class="head">
        <h2>Agenda</h2>
        <a target="_blank" href="/assets/docs/agenda.pdf" class="btn secondary">Télécharger l'agenda</a>
    </div>
    <mat-accordion [multi]="true">
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                Septembre 2023
            </mat-expansion-panel-header>
            <div class="agenda-content">
                <strong>Vendredi 08</strong>
                <p>
                    Bal CD 100% country animé par Nadine au Moulin Tropical 35 Rue Dinetard à <strong>TOULOUSE (31)</strong><br />
                    Prébal vers 19h45 Bal 21h<br />
                    Entrée 7 euros avec une boisson offerte.<br />
                    Renseignements au <a href="tel:+33610018588">06.10.01.85.88</a> ou <a href="mailto:dinette.peyrot@gmail.com">dinette.peyrot@gmail.com</a><br />
                    21h bal CD
                </p>

                <strong>Vendredi 08</strong>
                <p>
                    Bal country au Stiletto de <strong>ST LIEUX LES LAVAUR (81)</strong><br />
                    Choix visiteurs à partir de 19h30 à 21h<br />
                    Playlist 21h 1h<br />
                    Choix visiteurs des derniers en fin de playlist<br />
                    Entrée 9 euros<br />
                    Possibilité de réserver des assiettes tapas.
                </p>

                <strong>Samedi 09</strong>
                <p>
                    Bal A l'espace Armonia à <strong>BESSIÈRES</strong> (Av.Aimé Césaire) proche collège.<br />
                    Tombola : un sejour au festival country de santa suzanna du 22 octobreau 28 octobre<br />
                    Animation Funny country 31.
                </p>

                <strong>Dimanche 10</strong>
                <p>
                    Bal CD" country line" à la salle des fêtes chemin des Boulbenes de <strong>SEYSSES (31)</strong><br />
                    Prébal à 13h15 Bal à 14h - Entrée 5 Euros<br />
                    Avec une petite bouteille d'eau ou un café offert Patisseries et confiseries offertes<br />
                    organisé par Freedom Dance Country et animé par Nadine<br />
                    Renseignements : <a href="mailto:freedomdc@hotmail.fr">freedomdc@hotmail.fr</a>
                </p>

                <strong>Vendredi 22</strong>
                <p>
                    Bal CD Country et Modern Line à la salle des fêtes Boris Vian de <strong>LA SALVETAT ST
                    GILLES</strong> animé par Nadine<br />
                    Prébal un peu avant 20h<br />
                    Bal à 21h<br />
                    Entrée 5 euros avec une boisson offerte<br />
                    Renseignements : <a href="mailto:dinette.peyrot@gmail.com">dinette.peyrot@gmail.com</a> ou <a href="tel:+33610018588">06.10.01.85.88</a>
                </p>

                <strong>Dimanche 24</strong>
                <p>
                    Mini stage country de 13h à 15h suivi d'un mini bal de 15h à 18h30 environ salle du Berjean à <strong>ESCALQUENS</strong><br /><br />
                    Les danses du mini stage seront :<br />
                    Nothing Good de Bruno Morel <a target="_blank" href="https://www.youtube.com/watch?v=gaQbJaElk9Q">https://www.youtube.com/watch?v=gaQbJaElk9Q</a><br />
                    Quarter After One <a target="_blank" href="https://www.youtube.com/watch?v=BUcRn6QG5Ww&t=245s">https://www.youtube.com/watch?v=BUcRn6QG5Ww&t=245s</a><br />
                    First Meeting de Stefano Civa et David Lecaillon <a target="_blank" href="https://www.youtube.com/watch?=INygzg6Mg2o">https://www.youtube.com/watch?=INygzg6Mg2o</a><br /><br />
                    Comme d'habitude gâteaux boissons et café sont offerts et à volonté<br />
                    Stage 5 euros Mini bal 5 euros<br />
                    Mais ATTENTION les places sont limitées à 40 afin d'être à l'aise pour danser!<br />
                    Par conséquent merci de vous inscrire si vous êtes intéressé !<br />
                    Nadine Peyrot : <a href="mailto:dinette.peyrot@gmail.com">dinette.peyrot@gmail.com</a><br />
                </p>
            </div>
        </mat-expansion-panel>
      
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                Octobre 2023
            </mat-expansion-panel-header>
            <div class="agenda-content">
                <strong>Vendredi 06</strong>
                <p>
                    Bal CD 100% country animé par Nadine au Moulin Tropical 35 Rue Dinetard à <strong>TOULOUSE (31)</strong><br />
                    Prébal vers 19h45 Bal 21h<br />
                    Entrée 7 euros avec une boisson offerte.<br />
                    Renseignements au <a href="tel:+33610018588">06.10.01.85.88</a> ou <a href="mailto:dinette.peyrot@gmail.com">dinette.peyrot@gmail.com</a>
                </p>

                <strong>Vendredi 06</strong>
                <p>
                    Bal country au Stiletto de <strong>ST LIEUX LES LAVAUR (81)</strong><br />
                    Choix visiteurs à partir de 19h30 à 21h<br />
                    Playlist 21h 1h<br />
                    Choix visiteurs des derniers en fin de playlist<br />
                    Entrée 9 euros<br />
                    Possibilité de réserver des assiettes tapas.
                </p>

                <strong>Samedi 07</strong>
                <p>
                    Soirée country à <strong>MOISSAC (82)</strong> salle confluences<br />
                    21h bal CD
                </p>

                <strong>Samedi 07</strong>
                <p>
                    Workshop et bal country organisé par country <strong>SAIGNES</strong> et animés par Quentin Deshayes,
                    salle des fêtes rue du collège (15191)<br />
                    Réservations jusqu’au 17 septembre
                </p>

                <strong>Samedi 07</strong>
                <p>
                    Journée country du club de ROUMENS (15 ans) à la salle des fêtes Claude Nougaro de
                    <strong>REVEL (31250)</strong><br />
                    Accueil à 9h30 (café et gâteaux offerts)<br />
                    Des workshops sur la journée avec 3 chorégraphes: Séverine Fillion - Chrystel Durand -
                    Stefano Civa (cadeau de bienvenue à tous les participants aux workshops)<br />
                    Buffet froid du midi proposé à 10€ (salade verte/salade de pomme de terre/salade de
                    lentilles - saucisse grillée - dessert - vin et café)<br />
                    Apéritif offert par le club suivi d'une auberge espagnole et la Soirée concert avec les Crazy<br />
                    Pug<br />
                    Pensez à amener les couverts pour le buffet du midi et pour l'auberge espagnole<br />
                    Pour plus de détails vous pouvez me joindre au <a href="tel:+33674660211">06.74.66.02.11</a>
                </p>

                <strong>Samedi 14</strong>
                <p>Soirée country à la salle Bonnaïs de <strong>CAUSSADE (82)</strong></p>

                <strong>Dimanche 15</strong>
                <p>
                    Bal CD" country line" à la salle des fêtes chemin des Boulbenes de <strong>SEYSSES (31)</strong><br />
                    Prébal à 13h15 Bal à 14h - Entrée 5 Euros<br />
                    Avec une petite bouteille d'eau ou un café offert Patisseries et confiseries offertes
                    organisé par Freedom Dance Country et animé par Nadine<br />
                    Renseignements : <a href="mailto:freedomdc@hotmail.fr">freedomdc@hotmail.fr</a>
                </p>

                <strong>Samedi 21</strong>
                <p>Soirée country à <strong>MONTDRAGON (81)</strong> avec le duo McKENZIE</p>

                <strong>Dimanche 22</strong>
                <p>
                    Bal CD à 14h salle des fêtes de <strong>LAMASQUÈRE (31)</strong><br />
                    c'est reparti pour une nouvelle saison :<br />
                    Entrée 5€ avec 1 boisson, pâtisseries offertes<br />
                    toujours dans une ambiance joyeuse et conviviale !!
                </p>

                <strong>Du 27 au 29</strong>
                <p>
                    Week end country à <strong>St LYS</strong><br />
                    Workshops avec chorégraphes...<br />
                    e-mail : <a href="mailto:country.saintlys@gmail.com">country.saintlys@gmail.com</a><br />
                    Tel : <a href="tel:+33622103564">06.22.10.35.64</a><br />
                    Site internet : <a target="_blank" href="https://country-saintlys.jimdofree.com">https://country-saintlys.jimdofree.com</a><br />
                    Facebook : <a target="_blank" href="https://www.facebook.com/Countrylinedancesaintlys">https://www.facebook.com/Countrylinedancesaintlys</a>
                </p>

                <strong>Dimanche 29</strong>
                <p>
                    Bal CD à la salle des Fêtes de <strong>St ETIENNE DE TULMONT (82)</strong><br />
                    Organisé par Country saloon 82</p>
            </div>
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                Novembre 2023
            </mat-expansion-panel-header>
            <div class="agenda-content">
                <strong>Vendredi 03</strong>
                <p>
                    Bal CD 100% country animé par Nadine au Moulin Tropical 35 Rue Dinetard à <strong>TOULOUSE</strong><br />
                    Prébal vers 19h45 Bal 21h<br />
                    Entrée 7 euros avec une boisson offerte.<br />
                    Renseignements au <a href="tel:+33610018588">06.10.01.85.88</a> ou <a href="mailto:dinette.peyrot@gmail.com">dinette.peyrot@gmail.com</a><br />
                    <strong>JOURNEE COUNTRY à PUY L’EVEQUE (46)</strong>
                </p>

                <strong>Samedi 04</strong>
                <p>
                    Organisée par le club Country Road 811 à <strong>PRAYSSAC (46)</strong><br />
                    Bal CD suivi de Concert Backwest le soir. Restauration sur place.
                </p>

                <strong>Samedi 04</strong>
                <p>
                    Soirée country chez les Sun west country de <strong>MIREPOIX SUR TARN</strong>
                </p>

                <strong>Vendredi 10</strong>
                <p>
                    Bal CD Country et Modern Line à la salle des fêtes Boris Vian de <strong>LA SALVETAT ST GILLES</strong> animé par Nadine<br />
                    Prébal un peu avant 20h<br />
                    Bal à 21h<br />
                    Entrée 5 euros avec une boisson offerte<br />
                    Renseignements : <a href="mailto:dinette.peyrot@gmail.com">dinette.peyrot@gmail.com</a> ou <a href="tel:+33610018588">06.10.01.85.88</a>
                </p>

                <strong>Samedi 18</strong>
                <p>
                    Journée 100 % country à Salle Satgé de <strong>COLOMIERS (31)</strong><br />
                    A l’occasion des 20 ans du club Country Colomiers. Playlist cd 100 % country<br />
                    dans la journée et Concert le soir avec les Backwest.
                </p>

                <strong>Samedi 18</strong>
                <p>
                    Soirée country CD à 21h à la salle des Fêtes Le <strong>MONTAT (46)</strong><br />
                    Prébal 20h30 – Entrée 5 Euros<br />
                    Organisée par Country46<br />
                    Infos à venir - Rens : Sylvia <a href="mailto:country-46@orange.fr">country-46@orange.fr</a> ou <a href="tel:+33771120531">07.71.12.05.31</a>
                </p>

                <strong>Samedi 18</strong>
                <p>
                    Bal country à <strong>CASTELNAU D'ESTRETEFONDS (31620)</strong><br />
                    <a target="_blank" href="https://castelcountrydance31.fr">www.castelcountrydance31.fr</a> ; <a target="_blank" href="https://facebook.com/Club-de-castel-country-dance">www.facebook.com/Club-de-castel-country-dance</a>
                </p>

                <strong>Samedi 25</strong>
                <p>
                    Stages et soirée CD à la salle des fêtes de <strong>GRAMAT (46)</strong><br />
                    Stages de danse country animés par le chorégraphe Arnaud MARRAFFA<br />
                    à partir de 14h30.<br />
                    Cet après-midi sera suivi d'un repas (sur réservation) et d'une soirée CD avec
                    le traditionnel "Troc Cadeaux".<br />
                    Organisés par les CANYON'S DANCER. <a target="_blank" href="http://www.canyons-dancer-gramat.fr/">http://www.canyons-dancer-gramat.fr/</a><br />
                    Renseignements et réservations <a href="mailto:stephaniegendrau46@gmail.com">stephaniegendrau46@gmail.com</a> ou <a href="tel:+33622275937">06.22.27.59.37</a>
                </p>
            </div>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                Décembre 2023
            </mat-expansion-panel-header>
            <div class="agenda-content">
                <strong>Vendredi 01</strong>
                <p>
                    Bal CD 100% country animé par Nadine au Moulin Tropical 35 Rue Dinetard à <strong>TOULOUSE</strong>
                    Prébal vers 19h45 Bal 21h<br />
                    Entrée 7 euros avec une boisson offerte.<br />
                    Renseignements au <a href="tel:+33610018588">06.10.01.85.88</a> ou <a href="mailto:dinette.peyrot@gmail.com">dinette.peyrot@gmail.com</a>
                </p>

                <strong>Samedi 02</strong>
                <p>
                    Soirée country à la salle des fêtes de <strong>SAINT ALBAN (31)</strong><br />
                    Organisée par Country For Fun
                </p>

                <strong>Samedi 02</strong>
                <p>
                    Soirée country en faveur du téléthon à <strong>MOISSAC</strong> salle confluences<br />
                    21h bal CD
                </p>

                <strong>Dimanche 03</strong>
                <p>
                    Bal au profit du Téléthon salle des fêtes de <strong>LAMASQUÈRE (31)</strong><br />
                    Entrée 5€ avec 1 boisson, pâtisseries offertes, venez partager le plancher et participer
                    en même temps à cette noble cause !!
                </p>

                <strong>Dimanche 03</strong>
                <p>
                    Bal CD "country line" à la salle des fêtes chemin des Boulbenes de <strong>SEYSSES (31)</strong><br />
                    Prébal à 13h15 Bal à 14h - Entrée 5 Euros<br />
                    Avec une petite bouteille d'eau ou un café offert Patisseries et confiseries offertes<br />
                    organisé par Freedom Dance Country et animé par Nadine<br />
                    Renseignements : <a href="mailto:freedomdc@hotmail.fr">freedomdc@hotmail.fr</a>
                </p>

                <strong>Samedi 09</strong>
                <p>
                    Soirée country en faveur du téléthon à la salle des fêtes de <strong>CASTELNAU-MONTRATIER (46170)</strong>
                </p>

                <strong>Samedi 16</strong>
                <p>
                    Bal CD à 21h « bal de Noël », salle des fêtes de <strong>LAMASQUÈRE (31)</strong><br />
                    5€ avec 1 boisson, pâtisseries offertes, venez avec une petite touche de rouge et de blanc,<br />
                    ou carrément une tenue de Noël , sans obligation bien sûr!<br />
                    Et 1 cadeau apporté, 1 cadeau
                    emporté , c'est la tradition !!
                </p>

                <strong>Samedi 16</strong>
                <p>
                    Bal CD" country line" à la salle des fêtes chemin des Boulbenes de <strong>SEYSSES (31)</strong><br />
                    Prébal à 20h15 Bal à 21h - Entrée 5 Euros<br />
                    Avec une petite bouteille d'eau ou un café offert Pâtisseries et confiseries offertes<br />
                    organisé par Freedom Dance Country et animé par Nadine<br />
                    Renseignements : <a href="mailto:freedomdc@hotmail.fr">freedomdc@hotmail.fr</a>
                </p>
            </div>
        </mat-expansion-panel>
    </mat-accordion>
</section>