.container-agenda {
    width: 80%;
    max-width: 1280px;
    margin: auto auto 50px auto;

    .head {
        margin-bottom: 50px;

        h2 {
            font-family: var(--primaryFont);
            font-size: 64px;
            font-weight: 400;
            text-align: center;
            color: var(--primaryColor);
    
                &::before {
                    content: '( ';
                }
    
                &::after {
                    content: ' )';
                }
        }
    
        a {
            width: 290px;
            margin: 10px auto auto auto;
        }
    }

    .mat-accordion .mat-expansion-panel:first-of-type, .mat-accordion .mat-expansion-panel:not(.mat-expanded), .mat-accordion .mat-expansion-panel:not(.mat-expansion-panel-spacing) {
        border-radius: 10px;
        box-shadow: none;
        margin-bottom: 20px;
    }

    .mat-expansion-panel:not([class*=mat-elevation-z]) {
        border-radius: 10px;
        box-shadow: none;
    }

    .mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header:not([aria-disabled=true]) {
        height: 65px;
        background: var(--secondaryColor);
        font-size: 26px;
        font-weight: bold;
        color: #808080;
    }

    .mat-expansion-panel-header.mat-expanded:focus, .mat-expansion-panel-header.mat-expanded {
        background: var(--primaryColor);
        font-size: 26px;
        font-weight: bold;
        color: var(--backgroundColor);
    }

    .agenda-content {
        display: grid;
        grid-template-columns: 150px auto;
        row-gap: 20px;
        margin-top: 10px;

        a {
            color: var(--textColor);
        }
    }
}