<app-nav></app-nav>
<section class="event-container">
    <div class="head">
        <h2>Festival americain</h2>
        <h3>Vendredi 26, samedi 27 et dimanche 28 Septembre 2025<br />
        <em>à Saint-Etienne-de-Tulmont</em></h3>
        <!--<a class="btn secondary" target="_blank" href="/assets/docs/soiree2829Oct23.pdf">Télécharger le programme</a>-->
    </div>
    <p>
        Nous vous proposons, sur 3 jours, <strong>le 1er Festival Américain du Tarn et Garonne, les 26,27 et 28 septembre prochain</strong>.<br />
        Celui-ci se tiendra aux abords de la salle des Fêtes et nous comptons sur vous pour venir nous rendre visite et profiter de toutes les animations que nous sommes en train de vous concocter !!<br /><br />
        
        Ne manquez donc pas ce moment inédit qui sera, nous en sommes certains, un condensé de musique, de bonne humeur et de partage !!<br /><br />
    </p>
    <div class="event-content">
        <img src="/assets/img/events-img/festivalSept25.png" alt="festival du 26 au 28 septembre 2025" />
        <img src="/assets/img/events-img/festivalSept25Prog.png" alt="festival du 26 au 28 septembre 2025 programme" />
    </div>
</section>