<app-header></app-header>
<div class="home-page-container">
    <div class="mot-president">
        <img src="https://i.imgur.com/BknDbon.png" alt="photo du président du club">
        <p>“ Nous insérerons ici un petit mot de la part du président pour les visiteurs, les adhérents et futurs adhérents. Encore une phrase pour simuler la présence du texte “<br>
        <em>- Louis, président du club</em></p>
    </div>
    <div class="en-bref">
        <h3>Country Saloon 82 en bref</h3>
        <div class="activities-container">
            <app-activities-card *ngFor="let activity of activitiesCard" [activitiesCard]="activity"></app-activities-card>
        </div>
    </div>
</div>